*
body{
    padding: 0%;
    margin: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}
header{
    padding: 15px;
    background: fixed;
    background-color: black;
    color: white;
    box-sizing: content-box;
    border: 2rem;
    
}
nav a {
    padding-left: 20px;
    color: white;
    text-decoration-color:none;
     padding: 14px 30px;
     text-decoration-line:none;
}
.h2{
    padding: 15px;
    color: rgb(143, 122, 94);
}

