body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #151e31;
    color: white;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
}

header h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0 0 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1.0rem;
}

nav ul li a {
    color: rgb(19, 164, 231);
    text-decoration: none;
    font-size: 1.0rem;
    padding: 20px;
    padding-bottom: 5px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 1.5rem auto;
    padding: 0 1rem;
}

section {
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

section p {
    margin: 0 0 1rem 0;
}

section div {
    margin-bottom: 1rem;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
footer{
    text-align: center;
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}